$header-height: 50px
$footer-height: 80px

$body-color: #ededed
$info-color: #519194
$main-color: #335F64
$second-color: #4c8f96
$opus-color: #1B2130

$main-border: #5fb3bd

$social-bgr: #387a82

$main-font-size: 13px
