$header-height: 180px

.header
  height: $header-height
  background: url("../img/bg-header.gif")
  border-bottom: 1px solid #9bd9e0

nav

  button.navbar-toggle
    border: 1px solid #335f64

    span.icon-bar
      color: #fff
      border: 1px solid #335f64

