.col-sm-6.info-block.inverted
    .info-block-head Featured
        .row
            img(src="../img/featured.jpg" alt="Girl")
            h1.h1 Hair, I just met you

        .row
            p.col-xs-12 Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What’s more, they’re absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use.
            p.col-xs-12 You can even remove all our links if you want to. Looking for more templates? Just browse through all our Free Website Templates and find what you’re looking for. But if you don’t find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you’re looking for something different, something special.
            p.col-xs-12 And we love the challenge of doing something different and something special. If you’re experiencing issues and concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests with you. Version 13.


.col-xs-12.col-sm-6
    .info-block
        .info-block-head Hairstyle
            .row
                .col-sm-12
                    p This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
                    p.author Mike M.

.col-xs-12.col-sm-6
    .info-block.on-right
        img(src="../img/skinhead.png" alt="skinhead")
        p.bold Are you losing your hair?
        p.bold Let us help you in bringing
        p.bold back your confidence.
        p.bold Call Us at 1800-0000-0000