.container-fluid.footer
    .container
        .row
            .copyright.col-xs-12.col-sm-9.text-center
                p copyright 2023 &copy; zizurz | all rights reserved.
            .col-xs-12.col-sm-3
                .social
                    a#tweeter(href="#") tweeter
                    a#facebook(href="#") facebook
                    a#googleplus(href="#") googleplus
                    a#pinterest(href="#") pinterest