div.header
    nav.navbar.navbar-default
        div.container

            div.navbar-header
                a.navbar-brand(href="#")
                    img(src="../img/logo.png" alt="Logo")
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#nav-content")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

            div.collapse.navbar-collapse#nav-content
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#") HOME
                    li
                        a(href="#") ABOUT
                    li
                        a(href="#") HAIRSTYLES
                    li
                        a(href="#") NEWS
                    li
                        a(href="#") CONTACT