extends parts/layout

block body
    .container
        .row.hidden-xs
            include parts/index/slider
        .row
            include parts/index/articles
        .row
            include parts/index/info-blocks
