doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, iitial-scale=1")
        link(rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="../css/style.css")
        title HairStyle Salon
    body
        div.container-fluid
        // HEADER
        include parts/header
        // HEADER END

        div.container
            div.row
                include parts/articles
